[Desktop Entry]
Version=1.0
Name=Madoocoin
Comment=Madoocoin P2P Cryptocurrency
Comment[fr]=Madoocoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Madoocoin, eşten eşe kriptografik sanal para birimi
Exec=madoocoin-qt %u
Terminal=false
Type=Application
Icon=madoocoin128
MimeType=x-scheme-handler/madoocoin;
Categories=Office;Finance;